<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lgjy.deeper.graphics">

    <application>
        <activity
            android:name=".activity.VulkanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="bn-vulkan-lib" />
        </activity>
    </application>
</manifest>
