<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lgjy.deeper.graphics">

    <application>
        <activity android:name=".activity.VulkanActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="bn-vulkan-lib" />
        </activity>
    </application>
</manifest>
